.about {
  height: 100%;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: start;
  overflow-y: hidden;
}
.coding {
  flex: 3;
  height: 35rem;
  margin-left: 10%;
}
.coding img {
  height: 100%;
  width: 100%;
}
.qualification {
  flex: 2;
  color: white;
  height: 100%;
  margin-right: 10%;
  line-height: 30px;
}
.qualification img {
  height: 40px;
}
.qualification li {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: -10%;
  gap: 1rem;
}
.progressbar {
  width: 200px;
  height: 10px;
  border: 2px solid #eb455f;
  border-radius: 10px;
  overflow: hidden;
}
.progress {
  width: 20%;
  height: 10px;
  background-color: #fff;
  font-size: 10px;
  text-align: center;
}
.css {
  width: 85%;
}
.react {
  width: 80%;
}
.node {
  width: 65%;
}
