.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../assets/background.png") center/cover no-repeat;
  background-attachment: fixed;
}
.title {
  width: 700px;
  color: #fcffe7;
  margin-left: -200px;
  height: 200px;
  letter-spacing: 7px;
  color: #fbfeeb;
}
.title span {
  color: #dcfe50;
}
