.testimonials {
  color: white;
  margin-left: 10rem;
  position: relative;
}
.row {
  display: flex;
  gap: 7rem;
  margin-top: 4rem;
}
.testimonials .astro {
  position: absolute;
  top: -12%;
  left: 50%;
  height: 28rem;
}
.col {
  width: 30%;
  border: 2px solid white;
  padding: 2rem;
  position: relative;
}
.client {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 2rem;
}
.client img {
  border-radius: 50%;
}
.quote {
  display: flex;
  justify-content: center;
  align-items: first baseline;
  gap: 1rem;
}
.end {
  position: absolute;
  top: 50%;
  left: 80%;
}
